# Large/raw data
data/raw/
data/interim/
data/processed/

# Raster/vector datasets
*.tif
*.tiff
*.zip
*.shp
*.dbf
*.shx
*.prj

# Python
__pycache__/
*.pyc
.venv/
venv/

# QGIS temporary/project backups
*.qgz~
*.qgs~